<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System App</title>
    <link rel="icon" href="../img/logo.png">

    {{!-- custom css --}}
    <link rel="stylesheet" href="../css/dash-card.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/w3css.css">

    {{!-- bootstrap --}}
    <link rel="stylesheet" href="../css/bootstrap/bootstrapcss.css">
    <script src="../css/bootstrap/bootstrapjquery.js"></script>
    <script src="../css/bootstrap/bootstrapproper.js"></script>
    <script src="../css/bootstrap/bootstrap.js"></script>

    {{!-- custom script --}}
    <script src="../js/script.js"></script>

    {{!-- links --}}
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <div class="container border mt-5 ">
        <div class="row">
            <div class="col-md-12 text-right mt-3">
                <a href="index.html"><button class="btn btn-secondary px-5 py-2 ">Back</button></a>
            </div>
            <div class="col-2"></div>
            <div class="col-3 imgUp ">
                <div class="imagePreview"></div>
                <label class="btn btn-info">
                    Upload Photo<input type="file" class="uploadFile img uploadButton btn-block " value="Upload Photo">
                </label>
            </div>
            <div class="col-md-7 ">
                <form>
                    <div class="form-group col-md-9 mb-2 ">
                        <label for="">Product Name</label>
                        <input type="text" class="form-control" placeholder="Product Name" required>
                    </div>
                    <div class="form-group col-md-9 mb-2">
                        <label for="">Brand</label>
                        <input type="text" class="form-control" placeholder="Brand" required>
                    </div>
                    <div class="form-group col-md-9 mb-2">
                        <label for="">Price</label>
                        <input type="text" class="form-control" placeholder="Price" required>
                    </div>
                    <div class="form-group col-md-9 mb-2">
                        <label for="">Quantity</label>
                        <input type="text" class="form-control" placeholder="Quantity" required>
                    </div>
                </form>
            </div>
            <div class="col-md-11 text-right mt-3 mb-3">
                <a href="index.html"><button class="btn btn-success px-5 py-2 mb-3" type="submit"
                        value="Submit">Save</button></a>
            </div>
        </div>
    </div>
    {{!-- <div class="container-fluid">
        <div class="container justify-content-center">
            <div class="modal-dialog modal-xl bg-info">
                <div class="modal-content bg-info">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">{{title}}</h5>
                        <a href="/products"><button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span></button></a>

                    </div>
                    <div class="modal-body px-5">

                        <form action="/product" method="post">
                            <input type="hidden" name="product_number" value="183043">
                            <input type="hidden" name="created_by" value="{{name}}">
                            <label for="">Image</label>
                            <input class="form-control mb-2" type="text" name="img" value="notavailable" required>
                            <label for="">Product Name</label>
                            <input class="form-control mb-2" type="text" name="product_name" required>
                            <label for="">Brand</label>
                            <input class="form-control mb-2" type="text" name="brand" required>
                            <label for="">Price</label>
                            <input class="form-control mb-2" type="text" name="price" required>
                            <label for="">Quantity</label>
                            <input class="form-control mb-2" type="text" name="qty" required>
                            <button type="submit" class="btn btn-primary px-5 mt-3 mb-2 float-right">Save</button>
                        </form>

                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div> --}}
</body>

</html>