<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System App</title>
    <link rel="icon" href="./img/logo.png">

    {{!-- custom css --}}
    <link rel="stylesheet" href="./css/dash-card.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/w3css.css">

    {{!-- bootstrap --}}
    <link rel="stylesheet" href="./css/bootstrap/bootstrapcss.css">
    <script src="./css/bootstrap/bootstrapjquery.js"></script>
    <script src="./css/bootstrap/bootstrapproper.js"></script>
    <script src="./css/bootstrap/bootstrap.js"></script>

    {{!-- custom script --}}
    <script src="./js/script.js"></script>

    {{!-- links --}}
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <div id="wrapper">
        <nav id="header" class="navbar navbar-inverse navbar-fixed-top w3-deep-purple fixed-top" role="navigation">
            <a id="menu-toggle" href="#" class="btn toggle w3-hover-teal ml-3">
                <i class="fa fa-bars"></i>
            </a>
            <img src="./img/logo.png" alt="Logo" style="width:50px;">
            <div class="d-flex justify-content-end">
                <a href="#" class="btn text-white w3-hover-blue"><i class="fa fa-bell"></i></a>
                <a href="#" class="btn text-white w3-hover-yellow"><i class="fa fa-cog"></i></a>
                <a id="logout" class="btn text-white w3-hover-red"><i class="fa fa-power-off"></i></a>
            </div>
        </nav>

        <div id="sidebar-wrapper">
            <nav class="sidebar-nav">
                <div class="py-4" style="border-bottom:1px solid gray;">
                    <img src="./img/default1.jpg" class="rounded-circle shadow-sm mx-auto d-block bg-white p-1"
                        alt="Profile" style="width:155px;height:155px">
                    <h3 class="text-white text-center">JOHN PAUL VISTAL</h3>
                    <p style="line-height:5px" class="text-white text-center">ADMIN</p>
                </div>
                <div class="w3-bar-block m-2 text-white">
                    <a style="text-decoration:none;color:white" href="/dashboard"><button
                            class="w3-bar-item w3-button w3-hover-aqua py-3 rounded"><i
                                class="fa fa-dashboard w3-margin-right"></i>Dashboard</button></a>

                    <a style="text-decoration:none;color:white" href="/products"><button
                            class="w3-bar-item w3-button w3-hover-aqua py-3 rounded"><i
                                class="fas fa-box-open w3-margin-right"></i>Product</button></a>

                    <a style="text-decoration:none;color:white" href="/stocks"><button
                            class="w3-bar-item w3-button w3-hover-aqua py-3 rounded"><i
                                class="fas fa-store w3-margin-right"></i>Stock</button></a>

                    <a style="text-decoration:none;color:white" href="/sales"><button
                            class="w3-bar-item w3-button w3-hover-aqua py-3 rounded"><i
                                class="fa fa-bar-chart w3-margin-right"></i>Sales</button></a>

                    <a style="text-decoration:none;color:white" href="/users"><button
                            class="w3-blue w3-bar-item w3-button w3-hover-aqua py-3 rounded"><i
                                class="fa fa-user w3-margin-right"></i>Users</button></a>

                </div>
                <div class="sidebar-footer card-footer">
                    <span class="text-white w3-small">&copy; Copyright 2020, John Paul Vistal</span>
                </div>
            </nav>
        </div>


        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="container">
                <div class="row mt-2">
                    <div class="col-md-4">
                        <div class="card-counter user-info w3-deep-purple admins" style="width:310px;height:385px">
                            <img style="height:170px" class="card-img-top rounded-top" src="/img/cover.jpg"
                                alt="Card image cap">
                            <img class="rounded-circle ml-2 shadow bg-white p-1"
                                style="width:120px;height:120px;position:relative;top:-60px;margin-bottom:0"
                                src="/img/default1.jpg" alt="profile">
                            <div class="mr-1 mt-1" style="float:right">
                                <p class="p-2 btn-danger rounded-circle fa fa-google w3-large"></p>
                                <p class="p-2 btn-primary rounded-circle fa fa-instagram w3-large"></p>
                                <p class="p-2 btn-success rounded-circle fa fa-linkedin w3-large"></p>
                                <p class="p-2 btn-info rounded-circle fa fa-twitter w3-large"></p>
                            </div>
                            <div style="margin-top:-70px" class="card-body text-left">
                                <h4 class="name"><b>John Paul Vistal</b></h4>
                                <p style="line-height:8px">johnpaulvistal@gmail.com</p>
                                <p style="line-height:8px">Admin</p>
                            </div>
                            <div style="margin-top:-8px" class="card-footer text-right">
                                <a href="user-info.php?id=<?php echo $data['id']?>">MORE INFO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>