#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -250px;
    top: 0px;
    left: 250px;
    width: 250px;
    background: linear-gradient(#c11beb, #5f00db);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 9999;
    transition: all 0.4s ease 0s;
    /* #a200b8 */
}

#wrapper.active {
    padding-left: 0;
}

#header {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#wrapper.active #header {
    padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
    left: 0;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 90px;
    transition: all 0.4s ease 0s;
}

ul {
    padding: 0px;
}

ul li {
    list-style-type: none;
}

.sidebar-nav li a {
    color: #000000;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a span:before {
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 15px;
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        left: 0;
    }
    #wrapper.active {
        position: relative;
        left: 250px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }
    #menu-toggle {
        display: inline-block;
    }
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    flex: 0 1 300px;
    flex: 1 1 300px;
    text-align: center;
}

.sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
}

.bg-purple {
    background: #5f00db;
}


/* ------scroll bar--------------------- */

::-webkit-scrollbar {
    width: 8px;
    height: 7px;
}

 ::-webkit-scrollbar-button {
    width: 8px;
    height: 0px;
}

 ::-webkit-scrollbar-thumb {
    background: #787d86;
    border: 0px none #ffffff;
    border-radius: 0px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #787d86;
}

 ::-webkit-scrollbar-thumb:active {
    background: #787d86;
}

 ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

 ::-webkit-scrollbar-track:hover {
    background: transparent;
}

 ::-webkit-scrollbar-track:active {
    background: transparent;
}

 ::-webkit-scrollbar-corner {
    background: transparent;
}


/* Search BAr */

.searchbar {
    height: 38px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 6px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear;
}

.searchbar>.search_input {
    padding: 0 5px;
    width: 350px;
    caret-color: rgb(0, 255, 255);
    transition: width 0.4s linear;
}

.searchbar>.search_icon {
    background: rgb(105, 104, 104);
    color: rgb(0, 255, 255);
    margin-top: -1px;
}

.search_icon {
    height: 25px;
    width: 25px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.related {
    width: 400px;
}

.article_text {
    line-height: 40px;
    text-align: justify;
    text-indent: 80px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width:500px) {
    .related {
        width: 100%;
    }
    .article_text {
        width: 100%;
    }
    .article_title {
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width:1250px) {
    .related {
        width: 100%;
    }
    .article_text {
        width: 100%;
    }
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 10px;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 45px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    margin-top: 20px;
}

.searchTerm:focus {
    color: rgb(74, 75, 75);
}

.searchButton {
    width: 40px;
    height: 45px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}


/*Resize the wrap to see the search bar change!*/

.wrap {
    width: 100%;
}


/* Footer */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}

#scroll-top {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.info-input {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    border: none;
    width: 70%;
}

.info-input:focus {
    outline: none;
}

.editable {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    border: none;
    border-bottom: .5px solid #a0a0a0;
}


/* ADD USER */

.imagePreview {
    width: 300px;
    height: 300px;
    background-position: center center;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.imgUp {
    margin-bottom: 15px;
}

.del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.imgAdd {
    width: 300px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
}

.uploadButton {
    width: 275px;
    height: 0px;
    border-radius: 0px;
    overflow: hidden;
    display: block;
}